* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FCFCFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);   
}

.frame {
    width: 1100px;
    height: 1100px;
    border-radius: 2.2rem;
    box-shadow: 0 0 0 30px #000;
}

.grid-frame {
    background-color: #F0F0F0;
    position: relative;
    margin: 0 auto;
    top: 100px;
    width: 900px;
    height: 675px;
    border-radius: .3rem;
    box-shadow: 0 0 0 20px #000;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.grid { 
    /* CDD0CB E8EAE6 */
    border: 1px solid #E8EAE6;
    width: 56.25px;
    height: 56.25px;
}

.hover {
    background-color: #000;
}

.control-panel {
    top: 150px;
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* left: 120px; */
}

/* button {
    color: #FCFCFF;
    border: none;
    border-radius: .5rem;
    padding: 10px 25px;
    margin: 4px 2px;
    font-weight: bold;
}          */

button {
   /* background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%); */
   padding: 15px 35px;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   cursor: pointer;
 }

 button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


.black {
    background-color: #000;
}

.ice-blue{
    background: linear-gradient(180deg, #E8F9FD, #79DAE8, #0AA1DD, #2155CD)
}

.sunset {
    background: linear-gradient(180deg, #FFE15D, #F49D1A, #DC3535, #B01E68)
}